body {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 500px;
    overflow-y: scroll;
}

h1 {
    margin-top: 2.3rem;
    margin-bottom: 1rem;
    font-weight: normal;
    line-height: 1.2;
}

button {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 0.2rem 0.4rem;
    margin: 0.25rem;
}

[onclick] {
    cursor: pointer;
}

/* show/hide */

.card,
.description,
.controls,
.welldone,
.hidetop h1,
.hidetop .top,
.htbutton {
    display: none;
}

.show,
.flip .description,
.hidetop .htbutton {
    display: block;
}

.controls.first button.previous,
.controls.last button.next,
.controls.nocard button.next,
.controls.nocard button.mark,
.controls.nocard button.flip {
    opacity: 0.5;
    pointer-events: none;
}

.controls.nocard .progress {
    opacity: 0;
}

/* header */

.stats {
    margin: 1rem 0;
}

.stats i,
.current-run {
    position: relative;
    font-style: normal;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-align: center;
    border: 1px solid currentcolor;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    min-width: 3rem;
}

.stats i:last-of-type {
    margin-right: 1rem;
}

.stats i::before,
.current-run::before {
    text-transform: uppercase;
    display: block;
    font-size: 0.65rem;
}

.stats i:nth-child(1)::before {
    content: 'nové';
}

.stats i:nth-child(2)::before {
    content: 'neumím';
}

.stats i:nth-child(3)::before {
    content: 'trochu';
}

.stats i:nth-child(4)::before {
    content: 'středně';
}

.stats i:nth-child(5)::before {
    content: 'výborně';
}

.stats i:nth-child(1) {
    background-color: #ddd;
}

.stats i:nth-child(2) {
    background-color: #ffccbc;
}

.stats i:nth-child(3) {
    background-color: #ffecb3;
}

.stats i:nth-child(4) {
    background-color: #fff9c4;
}

.stats i:nth-child(5) {
    background-color: #dcedc8;
}

[data-theme="dark"] .stats i:nth-child(1) {
    background-color: #333;
}

[data-theme="dark"] .stats i:nth-child(2) {
    background-color: #5C1914;
}

[data-theme="dark"] .stats i:nth-child(3) {
    background-color: #603900;
}

[data-theme="dark"] .stats i:nth-child(4) {
    background-color: #605816;
}

[data-theme="dark"] .stats i:nth-child(5) {
    background-color: #34491C;
}

.current-run::before {
    content: 'právě procházíš';
}

.learn,
.options {
    display: inline-block;
    border: 1px solid currentcolor;
    padding: 0.25rem 0.5rem;
}

.learn {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.learn::before,
.options::before {
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-size: 0.65rem;
    margin: 0.15rem 0.25rem;
    content: 'začít procházení';
}

.options::before {
    content: 'další možnosti';
}

.htbutton {
    margin-top: 2.3rem;
}

.htbutton button {
    margin-left: 1rem;
}

/* card */

.card,
.welldone {
    border: 2px solid #aaa;
    border-radius: 10px;
}

.card .categories {
    color: grey;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}

.card .categories span:not(:last-child) {
    margin-right: 1rem;
}

.card .categories:empty {
    display: none;
}

.card .title,
.welldone {
    padding: 0.5rem 1rem;
}

.welldone {
    background-color: #f0f4c3;
}

.card .title p {
    margin: 0;
}

.card .description {
    border-top: 2px dotted #aaa;
    padding: 0.5rem 1rem;
    overflow: auto;
}

.card .description ul {
    margin: 0;
    padding-left: 25px;
}

.card .description p {
    margin: 0.25rem 0;
}

.flipper {
    height: 200px;
}

/* controls */

.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

.ctop,
.cbottom {
    display: flex;
    margin: 0 -0.25rem;
}

.ctop *,
.cbottom * {
    flex: 1;
}

.progress {
    background-color: transparent;
    font-size: 1rem;
    border: none;
    pointer-events: none;
}

.controls[data-level='1'] .cbottom button:nth-child(1),
.controls[data-level='2'] .cbottom button:nth-child(2),
.controls[data-level='3'] .cbottom button:nth-child(3),
.controls[data-level='4'] .cbottom button:nth-child(4) {
    text-decoration: underline;
}
